.card {
	box-sizing: border-box;
	display: grid;
	grid-template-areas:
		'date head head'
		'date hrs hrs'
		'date det det';
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 30px 30px 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	justify-content: space-between;
	max-height: 150px;
	margin-top: 12px;
	margin-bottom: 12px;
	padding: 0px 10px 0px 0px;
	background: #FFFFFF;
	border: 1px solid #B3B3B3BD;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0px #60606050;
	transition: 0.2s ease-out;
	transition-delay: 0.0s;
}

.card.activeCard {
	box-shadow: 0 2px 5px #60606070;
	border: 1px solid #727272;
	height: fit-content;
	max-height: 100%;
	transition: 0.2s ease-in;
	transition-delay: 0.3s;
}

.card-right-column {
	display: grid;
	grid-template-areas:
		'head head'
		'hrs hrs'
		'det det';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 2fr;
	justify-content: space-between;
	grid-row-gap: 5px;
	padding: 0px 5px 5px 0px;
	background: #FFFFFF;
	border: 1px solid #B3B3B3BD;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0px #60606050;
	transition: 0.2s ease-out;
}

.card:hover {}

.card-header-container {
	grid-area: head;
	transition: 0.4s ease-out;
}

.activeCard>.card-header-container {}

.card-header {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
	justify-content: flex-end;
	border-bottom: 2px solid #DDDDDD;
}

.card-edit-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.header-button {
	padding: 5px 10px;
}

.card-date {
	grid-area: date;
	display: flex;
	flex-direction: column;
	grid-column: 1;
	align-items: flex-end;
	justify-content: center;
	padding-right: 10px;
	border-right: 2px solid #E6E6E6;
	background: #F0F0F0;
	font-size: 1.5em;
	font-weight: 700;
	text-align: right;
	white-space: nowrap;
}

.activeCard>.card-date {
	background: #727AD6;
	box-shadow: 0px 0px 100px 10px inset #4D57C8;
	color: white;
	transition: 0.2s ease;
}

.card-date>.month {
	font-size: 0.8em;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 0.8;
}

.card-hours {
	grid-area: hrs;
	font-size: 1.2em;
	font-weight: 500;
	overflow: hidden;
	text-align: left;
}

.card-details {
	grid-area: det;
	padding: 0px 0px 10px 0px;
	grid-column: 2 / span 2;
	overflow: hidden;
	margin: 0px 0px 10px 0px;
}

.card-details.editing {
	background: #EDEDED;
	border-radius: 3px;
}

.activeCard>.card-details {
	overflow: hidden;
	padding: 10px 10px 10px 10px;
}