* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	z-index: 0;
}

html,
body {
	height: 100%;
	width: 100vw;
	z-index: 1;
}

.main {
	/* padding-bottom: 5px; */
}

.footer {
	/* height: 50px; */
	background: #7C7E95;
	z-index: 20;
}

.form-modal-container {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	padding: 5px;
	/* background-blend-mode: color-dodge  */
	;
	background: #384F61DE;
	color: #FFFFFF;
	backdrop-filter: blur(2.5px);
	overflow: hidden;
	z-index: 22;
}

.form-modal-container.hide {
	display: none;
}

.form-modal-header {
	padding: 5px;
}

.userform {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: auto;
	grid-gap: 10px 2px;
	/* align-items: space-around; */
	justify-content: space-evenly;
	/* padding-right: 10px; */
	/* margin-right: 10px; */
}

.userform label {
	/* background-blend-mode: exclusion; */
	padding: 5px;
	background: #1D4361D9;
	color: #FFFFFF;
}

.textInput {
	font-size: 1.1em;
	padding: 5px;
	outline: none;
	box-shadow: 1px 1px 5px #2C343ABA;
}

.content-input {}

.userform-button-container {
	display: flex;
	justify-content: flex-end;
	width: auto;
	grid-column: 2;
}

.userform-button-container input {
	margin: auto 5px;
	padding: 5px;
}

.header {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
	padding: 5px 10px;
	background: #7C7E95;
	color: white;
	box-shadow: 0 2px 10px #60606070;
	z-index: 20;
}

.menu-button {
	display: block;
	/* width: fit-content; */
	padding: 8px;
	/* height: 100%; */
	background: #FFFFFF00;
	color: #EBEBEB;
	fill: #EBEBEB;
	/* justify-content: center; */
	/* border-radius: 10px; */
	padding: 0px auto 10px auto;
}

.header-title {
	/* background: #000; */
	padding: 5px;
	font-size: 1.45em;
}

.nav {
	position: fixed;
	z-index: 1;
	display: flex;
	flex-direction: column;
	width: 0px;
	height: 100%;
	background: #7C7E95;
	background: #4C4C58;
	color: #FFFFFF00;
	border-right: 1px solid #FFFFFF78;
	overflow-x: hidden;
	transition: 0.3s ease-out;
	z-index: 21;
}

.navExpand {
	width: 250px;
	padding-right: 10px;
	color: white;
	box-shadow: 3px 0px 10px #60606070;
	/* padding:7px 7px; */
}

.nav-head {
	display: flex;
	justify-content: flex-end;
	background: #4C4C58;
	height: 40px;
}

.close-nav {
	font-size: 1.5em;
	font-weight: 700;
	padding: 10px 16px;
}

.close-nav:active {
	text-shadow: 0 0 10 #000;
	color: #2E2E2E;
}

.nav-link {
	justify-self: flex-start;
	max-height: 70px;
	width: auto;
	padding: 10px 20px;
	margin-bottom: 5px;
	margin-right: 100%;
	text-align: left;
	font-size: 1.5em;
	font-weight: 500;
	text-wrap: none;
	text-decoration: none;
	color: white;
	transition: 0.2s ease;
	-webkit-tap-highlight-color: transparent;
}

.nav-link:hover {
	background: #9191A0;
	/* background: #C7C7D5; */
	justify-self: flex-end;
	margin-right: 0px;
	text-align: right;
	transition: 0.3s ease;
	/* color: #4C4C58; */
}

.card {
	display: grid;
	grid-template-areas:
		'date hrs'
		'det det';
	justify-content: space-between;
	width: 95%;
	margin: 15px 10px;
	padding: 15px;
	box-shadow: 0 2px 10px #60606070;
}

.card-date {
	grid-area: 'date';
	font-size: 1.5em;
	font-weight: 700;
	height: 100%;

}

.card-hours {
	grid-area: 'hrs';

}

.card-details {
	grid-area: 'det';
	padding: 6px 0px;
}