* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	z-index: 0;
}
.app {
	position: relative;
	
	display: grid;
	grid-template-rows: minmax(145px,175px) 2fr 50px;
	grid-template-columns: 1fr;
	width: 100vw;
	height: 100%;
	/* row-gap: 10px; */
	/* padding: 10px; */
	background: #EAEAEA;
	/* background-image: url('./appointment-ui1.png'); */
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
}
.app-header {
	position: relative;
	padding: 15px 0px 25px 0px;
	background: #5A899C;
	border-radius: 0px 0px 0px 25px;
}

.title-bar {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 15px 5px;
	/* height: 50px; */
	background: #5A899C;
	color: white;
	/* border-radius: 0px 0px 0px 25px; */
	z-index: 20;
}
.search-container {
	position: absolute;
	bottom: 30px;
	left: 20px;
	display: flex;
	flex-direction: column;
	width: 80%;
	/* padding: 25px; */
}
.search-container label {
		color: #FFFFFFBF;
		margin-bottom: 50px;

}
.search-input {
	width: 80%;
	background: transparent;
	color: #FFFFFFBF;
	border: 0px solid transparent;
	border-bottom: 1px solid #FFFFFFBF;
}
::placeholder {
		color: #FFFFFFBF;
}
.app-body {
	display: grid;
grid-template-rows: auto 1fr;
	justify-content:  center;
	height: 100%;
	width: 100%;
	/* background: #AA5858; */
}
.app-footer {
	background: #949494;
}
.card {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	width: 100%;
	height: 175px;
	/* padding: 10px 20px; */
	/* background: blue; */
}

.card-left {
	border-radius: 20px 20px 0px 20px;
	width: 45%;
	height: 100%;
	background: red;
}
.card-right {
	width: 55%;
	height: 90%;
	border-radius: 0px 20px 20px 0px;
	margin: 0px 0px 0px 0px;
	background: gray;
}

.view-menu {
	display: flex;
	/* flex-direction: row; */
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px;
	justify-content: space-around;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	height: fit-content;
}

.view-button {
	padding: 4px 0px;
	border-bottom: 1px solid #D2D2D2;
}

.view-button:hover {
	border-bottom: 1px solid #5A899C;
	font-weight: 500;
}

.content{
	height: 500px;
	/* padding: 0 10px; */
}


.content-view {
	display: none;
	width: 100%;
	height: 100%;
	background: #BEC946;
}

.show {
	display: block;
}